[flake8]

''' In order to only check app.py and test_app.py, 
flake8 will ignore the following folders
so it does not check their "*.py" files ''' 
exclude =
    venv,
    .git,
    __pycache__,
    .pytest_cache

# Maximum line length changed to 88 
max-line-length = 88

# Ignore minor warnings that conflict with Black autoformatter
ignore =
    E203
    W503